#conversionTable {
  transition: all 1s ease;
}

#conversion {
  transition: max-height 0.5s ease-in;
}

#conversionText {
  transition: opacity 1s ease-in-out 0.5s;
  color: #d9b310;
}

#buttonDiv {
  transition: opacity 1s ease-in-out 1s;
}

#buttonDiv .btn {
  color: white;
}

.show {
  visibility: visible;
  opacity: 1;
  max-height: 100%;
  max-width: 100%;
}

.hide {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  max-width: 0;
}

.flash {
  transform: translate(0, 1px);
  color: lightgray;
}

h3 span, td span, #currencyText span {
  transition: all 0.5s linear;
}

.btn {
  background-color: #328cc1;
}

#conversionTable,
th,
td,
tr {
  background-color: #d9b310 !important;
  color: #1d2731 !important;
  border-color: #1d2731 !important;
}

#conversionTable .btn {
  color: #1d2731;
}

#buttonDiv .btn:hover,
#conversionTable .btn:hover {
  background-color: grey !important;
  color: #1d2731;
}

#conversion-span:hover {
  color: lightgrey;
}