#amount-input span, #amount-input input {
  background-color: #328cc1 !important;
  border: none;
}

input::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}

input:disabled {
  pointer-events: auto;
  cursor: not-allowed !important;
}