#pageButtons > .btn {
  background-color: #328cc1;
}

#pageButtons .btn:hover {
  background-color: grey !important;
  color: #1d2731 !important;
}

.container-md {
  background-color: #1d2731;
}

#switchButton {
  background-color: #d9b310;
}

#pageTitle {
  color: #d9b310 !important;
}

#switchButton[disabled] {
  /* background-color: darkgrey !important; */
  opacity: 0.5 !important;
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

#fromDropdown, #toDropdown {
  cursor: pointer;
}

.page-active {
  background-color: #0b3c5d !important;
  color: #d9b310 !important;
}