#pageButtons .btn {
  background-color: #328cc1;
}

#pageButtons .btn:hover {
  background-color: grey !important;
  color: #1d2731 !important;
}

.container-md {
  background-color: #1d2731;
}

#switchButton {
  background-color: #d9b310;
}